{% extends 'documents/document_base.html' %}

{% block document_content %}
    {{ block.super }}
    <h1>Document execute template</h1>
    <div class="col-md-6">
        <div>
            <span>Назва:</span>
            {{ document.title }}
        </div>

        <div>
            <span>Дата створення:</span>
            {{ document.date_created }}
        </div>

        <div>
            <span>Створив:</span>
            {{ document.created_by }}
        </div>

        <div>
            <span>Регістраційний номер:</span>
            {{ document.registration_number }}
        </div>

        <div>
            <span>Опис:</span>
            {{ document.description }}
        </div>
    </div>
    <div class="col-md-6">
        <h4>Виконавці</h4>
        <table>
            {% for subscriber in subscribers %}
                <tr>
                    <td>{{ subscriber.employee }}</td>
                    <td>{{ subscriber.executed }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ activation.management_form }}

        {% if show_next_stage %}
            <button class="btn btn-fill btn-info">
                Підтвердити закінчення ознайомлення
            </button>
        {% endif %}
    </form>

{% endblock document_content %}