*.pyc
*.log
*.dll
*.lib
*.exe
.idea
Thumbs.db
__pycache__
/__pycache__
__pycache__/
media/

settings_local.py
media/django_cache
django_cache
development/
static/img/background/
static/img/tables/
whoosh_index/
/static/calendar/js/events.json
