{% extends 'base.html' %}
{% block title %}Допомога.{% endblock %}

{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Допомога по роботі з системою "ДокФлоу"</h4>
                                <p class="category">Документ оновлюється при зміні програмного забезпечення</p>
                            </div>
                            <div class="content">
                             Допомога

                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock content%}