{% extends 'base.html' %}
{% block title %}Відправлені документи.{% endblock %}

{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Відправлені документи</h4>
                                <p class="category">Документи які ви відправили у роботу</p>
                            </div>
                            <div class="content">
                               <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Номер</th>
                                    	<th>Тип</th>
                                    	<th>Назва</th>
                                        <th>Статус</th>
                                    	<th>Дата створення</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>114ЕД/12</td>
                                        	<td>Розпорядження міського голови</td>
                                        	<td>Про преміювання працівників за 2017 рік</td>
                                            <td><div class="text-primary">Ознайомлення</div></td>
                                            <td>12.12.2017</td>
                                        </tr>
                                        <tr>
                                        	<td>143ЕД/11</td>
                                        	<td>Cлужбова записка</td>
                                        	<td>Про дозвіл на встановлення системи</td>
                                            <td><div class="text-warning">Узгодження</div></td>
                                            <td>03.05.2017</td>
                                        </tr>
                                        <tr>
                                        	<td>18ЕД/11</td>
                                        	<td>Cлужбова записка</td>
                                        	<td>Про перемыщення мат. цінностей</td>
                                            <td><div class="text-warning">Узгодження</div></td>
                                            <td>08.05.2017</td>
                                        </tr>
                                        <tr>
                                        	<td>56ЕД/10</td>
                                        	<td>Cлужбова записка</td>
                                        	<td>Про закупівлю офісного паперу</td>
                                            <td><div class="text-info">На виконанні</div></td>
                                            <td>11.02.2017</td>
                                        </tr>
                                                                            <tr>
                                        	<td>12ЕД/10</td>
                                        	<td>Посадова інструкція</td>
                                        	<td>Спеціаліста 3 кат. бухгалтерії</td>
                                            <td><div class="text-danger">Відмінено</div></td>
                                            <td>04.03.2017</td>
                                        </tr>
                                        <td>187ЕД/14</td>
                                        	<td>Заява на відпустку</td>
                                        	<td>----------</td>
                                            <td><div class="text-success">Підписано</div></td>
                                            <td>04.03.2017</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock content%}